/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* root  */

*{
	margin: 0;
	padding: 0;
}
body{
	background-image: url('../images/back.jpg');
}
/* nav css */
nav{
font-family: 'Ubuntu','sans-serif';
}
nav ul{
	align-items: center;
	display: flex;
	list-style-type: none;
	height: 65px;
	background-color: black;
	color: white;

}
.brand img{
	width:44px ;
	padding: 8px;
}
.brand{
	display: flex;
	align-items: center;
	font-weight: bolder;
	font-size: 1.3rem;
}
nav ul li{
	padding: 0 12px;
}

.bottom{
	position: sticky;
	background-color: rgb(2, 2, 2);
	height: 130px;
	display: flex;
	justify-content:center;
	align-items: center;
	flex-direction: column;
	
}

.container{
	min-height:72vh ;
	background-color: black;
	font-family: Verdana, sans-serif;
	color: white;
	display: flex;
	margin: 23px auto;
	width: 70%;
	border-radius:12px ;
	padding: 34px;
	background-image: url('../images/images.jpeg');
}
#progressBar{
	width: 80vw;
	cursor: pointer;
}
.icons img{
	cursor: pointer;
	width: 35px;
	height: 35px;
	padding: 8px;
	

}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

#gif{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }